@viewport {
    width: device-width;
}

@font-face {
    font-family: Nunito_Sans;
    src: url("fonts/NunitoSans_7pt_SemiCondensed-Regular.ttf");
}

html {
    /* background-color: rgb(11,12,16); */

    scroll-behavior: smooth;

    --section_bg: rgb(217,230,240);

    --main: rgb(246, 251, 253);
    --text: rgb(11,12,16);
    /* --footer: rgb(37, 37, 37); */
    /* --header_nav: rgb(10,10,11); */
    /* --header_nav_text: rgb(243, 243, 243); */
    --blue_detail: rgb(52, 152, 219);
    --hover: rgb(41, 128, 185);
}

body {
    width: auto;
    margin: 0;

    background: var(--main);
    font-family: "Nunito_Sans", "Segoe UI", sans-serif;
    color: var(--text);
    hyphens: auto;
    font-size: 16px;
}
/* body {
    width: auto;
    margin: 0;

    background-color: var(--main);

    font-family: "Montserrat", "Segoe UI", sans-serif;
    color: var(--text);
    font-size: 16px;
    hyphens: auto;
    line-height: 1.5em;
    text-align: center;
}

header {
    width: auto;
    padding: 1em;
    background-color: var(--header_nav);

    background-image: url("header.jpg");
    color: var(--header_nav_text);
    font-size: 1.9em;
} */

#weather, #sensors {
    margin: 1.2em;
    padding: 1.2em;

    background: var(--section_bg);
    border-radius: 0.5em;
}

#weather h3, #sensors h3 {
    padding-bottom: 0.25em;

    border-bottom: 2px solid var(--blue_detail);
}

#weather p:not(:first-child) , #sensors p:not(:first-child) {
    margin: 0.25em 0;
}

h1 {
    margin: auto 0.8em;
}

/* Current Weather */
#current_weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    gap: 1em 2em;
}

.weather_item {
    flex: 1;
    text-align: center;
    padding: 0.5em;

    border-radius: 0.5em;
    background: var(--main);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.weather_icon {
    font-size: 20px;
    margin: 0.5em 0;
}

.weather_item p:nth-child(2) {
    font-weight: bold;
}

#current_weather h3 {
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;

    border-bottom: 2px solid #3498db;
    font-size: 20px;
}

/* Hourly Forecast */
#hourly_container, #sensors_container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    gap: 1em;
    padding: 0.5em 1em 1em 1em;
}

.hourly_item, .sensor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;

    min-width: 9em;
    padding: 0.7em;
    border-radius: 0.5em;

    background: var(--main);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.time {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.hourly_item .weather_status {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    min-height: 2.5em;
    margin-top: auto;
    padding: 0.2em;

    background: var(--main);
}

/* Daily Forecast */
#daily_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    
    gap: 1em;
    padding: 0.5em 1em 1em 1em;
}

.daily_item {
    flex: 1;
    min-width: 7em;
    padding: 0.7em;
    border-radius: 0.5em;

    background: var(--main);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.daily_item .weather_status {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;

    min-height: 2.5em;
    margin-top: auto;
    padding: 0.2em;

    background: var(--main);
}

/* Sensors */
.sensor {
    flex: 1;
    padding: 0.5em;
    max-width: 17em;
}

.sensor h3 {
    text-align: center;
    margin: 0.5em 0;
}

.sensor p {
    padding-left: 0.4em;
}

/* Buttons */
button {
    padding: 0.6em 0.8em;

    border-radius: 0.5em;
    border: none;
    background: var(--blue_detail);
    color: white;
    transition: background 0.3s ease;
    cursor: pointer;
}

button:hover {
    background: var(--hover);
}

#sensors button {
    margin: 1em;
}
