<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Smart Irrigation System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        {% block head %}{% endblock %}
    </head>

    <body>
        <header>
            <h1>Smart Irrigation System</h1>
        </header>

        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                
                
            </ul> 
        </nav>

        <main>
            {% block main_content %}{% endblock %}
        </main>

        <footer>
            <p>
                <small>The website was created by <i>Petra Petrusova</i> for the Computer Science Final Year Project.</small>
            </p>
            <p>
                <small>The font is made available for free use on <a href="https://fonts.google.com/">https://fonts.google.com/</a>.</small>
            </p>            
        </footer>

    </body>
</html>