<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Smart Irrigation System</title>
    </head>

    <body>
        <header>
            <h1>Smart Irriation System</h1>
        </header>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
                <li><a href="{{ url_for('profile') }}">My Account</a></li>
            </ul> 
        </nav>

        <main>
            {% block main_content %}{% endblock %}
        </main>

        <footer>
            <p>
                <small>The website was created by <i>Petra Petrusova</i> for the Computer Science Final Year Project.</small>
            </p>
            <p>
                <small>The font is made available for free use on <a href="https://fonts.google.com/">https://fonts.google.com/</a>.</small>
            </p>            
        </footer>

    </body>
</html>