{% extends "base.html" %}

{% block stylesheets %} 

    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}" />

{% endblock %}

{% block main_content %}
    <p id="back">
        <a href="{{ url_for('settings') }}">Back</a>
    </p>
    <h2>Change my password</h2>
    <p>
        {{ message }}
    </p>
    <section class="account_action">
        <form action = "" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %} 
                {{ error }}
            {% endfor %}
            <br />
            {{ form.password2.label }}
            {{ form.password2() }}
            {% for error in form.password2.errors %} 
                {{ error }}
            {% endfor %}
            <br />
            <br />
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
            {% for error in form.confirm_password.errors %} 
                {{ error }}
            {% endfor %}
            <br />
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}