{% extends "base.html" %}

{% block main_content %}
    <h1>Dashboard</h1>
    <section class = "readings">
        <h2>Sensor Data</h2>
        <p>Soil Moisture:</p>
        <p>Temperature:</p>
        <p>Humidity:</p>
        <p>Brightness:</p>
        <button onclick="refresh()">Refresh data</button>
    </section>

    <section class = "weather">
        <h2>Weather API</h2>
    </section>

    <section class = "controls">
        <button onclick="pump('on')">Turn Pump ON</button>
        <button onclick="pump('off')">Turn Pump OFF</button>
    </section>

{% endblock %}