{% extends "base.html" %}

{% block main_content %} 
    <h2>Login</h2>
    
    <section class="account_action">
        <form action = "" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username() }}
            {% for error in form.username.errors %} 
                {{ error }} 
            {% endfor %}
            <br />
            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %} 
                {{ error }}
            {% endfor %}
            <br />
            {{ form.submit() }}
        </form>
    </section>

    <p>Not registered yet? <a href="{{ url_for('register') }}">Register here</a></p>

{% endblock %}