{% extends "base.html" %}

{% block head %}
<script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-base.min.js" type="text/javascript"></script>
{% endblock %}


{% block main_content %}
<h1>Statistics</h1>

<h2>General</h2>
<p class="stats_p" id="watering_total"></p>

<h3>Average Soil Moisture (Last 10 Days)</h3>
<p class="stats_p"><strong>Note:</strong> Lower soil moisture value means there is more water in the soil, while higher values represent drier soil.</p>
<div id="container_avg_moisture" style="width: 100%; height: 600px;"></div>

<h2>Pump Data</h2>
<div id="container_pumps"></div>


{% raw %}
<script>
    anychart.onDocumentLoad(function () {
        // get readings
        fetch("/stats_data")
        .then(response => response.json())
        .then(data => {
            /* ---- General ---- */
            let wateringTotal = "Total Watering Amount (Last 10 Days): " + data.watering.toString() + " ml";
            document.getElementById("watering_total").innerText = wateringTotal;

            /* ---- Average Soil Moisture ---- */
            data.avg_moisture.forEach(d => d.timestamp = new Date(d.timestamp));
            let chartAvgMoisture = anychart.line();

            // handle each sensor separately
            let sensors = [...new Set(data.avg_moisture.map(d => d.sensor))];
            sensors.forEach(sensor => {
                // prepare data for chart
                let sensorData = data.avg_moisture.filter(d => d.sensor === sensor).map(d => [d.timestamp.getTime(), d.soil_moisture]);
                let series = chartAvgMoisture.line(sensorData);
                let sensorName = "Sensor " + sensor.toString();
                series.name(sensorName);
            });

            // chart settings
            chartAvgMoisture.title("Average Soil Moisture (Last 10 Days)");
            chartAvgMoisture.xScale().mode("continuous");
            chartAvgMoisture.xAxis().labels().format("{%value}{type:date}");
            
            chartAvgMoisture.tooltip().titleFormat("").separator(false).useHtml(true).format(function() {
                let sensor = this.seriesName;
                let date = new Date(this.x);
                let value = Math.round(this.getData("value"));
                return `<b>${sensor}</b><br/>Date: ${date.toLocaleDateString()}</br>Value: ${value}</br>`;
            });
            
            chartAvgMoisture.container("container_avg_moisture");
            chartAvgMoisture.legend().enabled(true);
            chartAvgMoisture.draw();


            /* ---- Soil Moisture X Watering ---- */
            data.data.forEach(d => d.timestamp = new Date(d.timestamp));

            // handle each pump separately
            let pumpIds = [...new Set(data.data.map(d => d.pump))];
            pumpIds.forEach(pumpId => {
                let pumpData = data.data.filter(d => d.pump === pumpId);

                // add HTML container
                let pumpDiv= document.createElement("div");
                pumpDiv.innerHTML = `
                    <div id="container_pump${pumpId}" style="width: 100%; height: 600px;"></div>
                    `;

                document.getElementById("container_pumps").appendChild(pumpDiv);
                
                // create chart
                let chartPump = anychart.line();
                
                let moisture = chartPump.line(pumpData.map(d => [d.timestamp, d.soil_moisture]));
                moisture.name("Soil Moisture");

                let scale = anychart.scales.linear();
                scale.minimum(0);
                scale.maximum(1000);
                
                let watering = chartPump.column(pumpData.map(d => [d.timestamp, d.watering_amount_ml]));
                watering.name("Watering (ml)");
                watering.yScale(scale);

                // chart settings
                chartPump.title(`Soil Moisture and Watering Over Time (Pump ${pumpId})`);
                chartPump.xAxis().title("Time");
                chartPump.xAxis().labels().format("{%value}{type:date}");
                chartPump.yAxis().title("Soil Moisture");
                chartPump.yAxis(1).title("Watering Amount (ml)").orientation("right");          
                chartPump.tooltip().titleFormat("").separator(false);
                chartPump.container("container_pump1");
                chartPump.legend().enabled(true);
                chartPump.draw();
            });
        });
    });
</script>
{% endraw %}

{% endblock %}